// Size of everything
zoom = 30px

// Colors
text-color = black

// Nav calendar view
border-spacing =  0.1 * zoom
box-size = (zoom - border-spacing)

sidebar-width = 270px
top-width-on-desktop = 86px
primary-color = #2C7ACE
secondary-color = #75CDFA
