// ===========================================================================
// Vendor madness mixins missing from the nib
// ===========================================================================
text-stroke()
  -webkit-text-stroke: arguments
  text-stroke: arguments

// MOBILE SPECIFIC: Links callout
touch-callout(value = default)
  -webkit-touch-callout: value
  touch-callout: value

// MOBILE SPECIFIC: Tap highlighting
tap-highlight-color()
  -webkit-tap-highlight-color: arguments
  tap-highlight-color: arguments


// ===========================================================================
// Utility mixins
// ===========================================================================
selectable()
  user-select: text
  cursor: text

not-selectable()
  user-select: none
  cursor: default

ir()
  background-color: transparent
  border: 0
  overflow: hidden

  &:before
    content: ""
    display: block
    width: 0
    height: 150%
